:root{
    --color-brend:#2F303A;
    --color-accent:#2196F3;
    --color-background:#FFFFFF;
    --text-color:#212121;
    --text-color-optional:#757575;
    --social-icon-color: #AFB1B8;
    --black-color: #000000;
    --color-hover: #188ce8;
    --color-background-color: #f5f4fa;
    --color-overlay:#eeeeee;
    --color-background-hero: #c4c4c4;
    --color-border: #afb1b8;

    --timing-duration: 250ms;
}