:root{
    --color-brend:#2f303a;
    --color-accent:#2196f3;
    --color-background:#ffffff;
    --text-color:#212121;
    --text-color-optional:#757575;
    --social-icon-color: #afb1b8;
    --black-color: #000000;
    --color-hover: #188ce8;
    --color-background-color: #f5f4fa;
    --color-overlay:#eeeeee;
    --color-background-hero: #c4c4c4;
    --color-border: #afb1b8;

    --timing-duration: 250ms;
}